<section class="deals-section" id="deals">
  <div class="container">
    <h2 class="deals-title">Прошедшие сделки</h2>
    <p class="deals-text"><span class="deals-span"></span>Онлайн</p>
    <div class="swiper deals-swiper">
      <ul class="swiper-wrapper deals-list">
        <li class="swiper-slide deals-card">
          <img class="deals-logo" src="../img/deals-logo.png" />
          <h3 class="deals-card-title">NEAR/USDT</h3>
          <p class="deals-card-spot">
            SPOT &#8901; <span class="deals-card-spot-span">1 мин. назад</span>
          </p>
          <p class="deals-card-income">Прибыль</p>
          <p class="deals-card-percent">
            58.6206% <span class="deals-card-percent-span">&#8593;</span>
          </p>
          <div class="deals-card-goal-wrp">
            <p class="deals-card-goal">Цель 4</p>
            <p class="deals-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide deals-card">
          <img class="deals-logo" src="../img/deals-logo.png" />
          <h3 class="deals-card-title">BTC/USDT</h3>
          <p class="deals-card-spot">
            SPOT &#8901; <span class="deals-card-spot-span">1 мин. назад</span>
          </p>
          <p class="deals-card-income">Прибыль</p>
          <p class="deals-card-percent">6.02% &#8593;</p>
          <div class="deals-card-goal-wrp">
            <p class="deals-card-goal">Цель 3</p>
            <p class="deals-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide deals-card">
          <img class="deals-logo" src="../img/deals-logo.png" />
          <h3 class="deals-card-title">ETH/USDT</h3>
          <p class="deals-card-spot">
            SPOT &#8901; <span class="deals-card-spot-span">1 мин. назад</span>
          </p>
          <p class="deals-card-income">Прибыль</p>
          <p class="deals-card-percent">16.3% &#8593;</p>
          <div class="deals-card-goal-wrp">
            <p class="deals-card-goal">Цель 4</p>
            <p class="deals-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide deals-card">
          <img class="deals-logo" src="../img/deals-logo.png" />
          <h3 class="deals-card-title">NEAR/USDT</h3>
          <p class="deals-card-spot">
            SPOT &#8901; <span class="deals-card-spot-span">1 мин. назад</span>
          </p>
          <p class="deals-card-income">Прибыль</p>
          <p class="deals-card-percent">0.963% &#8593;</p>
          <div class="deals-card-goal-wrp">
            <p class="deals-card-goal">Цель 4</p>
            <p class="deals-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide deals-card">
          <img class="deals-logo" src="../img/deals-logo.png" />
          <h3 class="deals-card-title">NEAR/USDT</h3>
          <p class="deals-card-spot">
            SPOT &#8901; <span class="deals-card-spot-span">1 мин. назад</span>
          </p>
          <p class="deals-card-income">Прибыль</p>
          <p class="deals-card-percent">58.6206% &#8593;</p>
          <div class="deals-card-goal-wrp">
            <p class="deals-card-goal">Цель 4</p>
            <p class="deals-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
      </ul>
      <div class="swiper-scrollbar">
        <div class="swiper-scrollbar-drag"></div>
      </div>
    </div>
  </div>
</section>
