<section class="rates-section" id="rates">
  <div class="container rates-container">
    <h2 class="rates-title">Тарифы</h2>
    <ul class="rates-list">
      <li class="rates-item spot-item">
        <a class="rates-link spot-link">Спот</a>
      </li>
      <li class="rates-item futures-item">
        <a class="rates-link futures-link">Фьючерс</a>
      </li>
    </ul>
    <div class="rates-cards-wrp">
      <div class="rates-card rates-card-left">
        <div class="rates-card-upper">
          <h3 class="rates-card-title">Standard</h3>
          <ul class="rates-card-list rates-card-list-left">
            <li class="rates-card-item">Ручной трейдинг</li>
            <li class="rates-card-item">
              Автоматическое или полуавтоматическое копирование сделок
            </li>
            <li class="rates-card-item">Личный кабинет со статистикой</li>
            <li class="rates-card-item">
              Среднесрочные сделки с<br />уровнями набора портфеля
            </li>
          </ul>
        </div>
        <div class="rates-card-lower">
          <div class="rates-card-div">
            <p class="rates-card-text">
              $234<span class="rates-card-percent">-35%</span>
            </p>
            <select class="rates-card-select" name="months">
              <option value="12">12 месяцев</option>
              <option value="6">6 месяцев</option>
              <option value="1">1 месяц</option>
            </select>
          </div>
          <a class="rates-card-btn" href="#about">
            Попробовать<span class="rates-card-span">5 дней бесплатно</span>
          </a>
        </div>
      </div>
      <div class="rates-card rates-card-right">
        <div class="rates-card-upper">
          <h3 class="rates-card-title">VIP</h3>
          <ul class="rates-card-list rates-card-list-right">
            <li class="rates-card-item">Ручной трейдинг</li>
            <li class="rates-card-item">
              Автоматическое или полуавтоматическое копирование сделок
            </li>
            <li class="rates-card-item">Личный кабинет со статистикой</li>
            <li class="rates-card-item">
              Краткосрочные, среднесрочные и инвест сделки
            </li>
            <li class="rates-card-item">Доступ в Vip чат с командой</li>
            <li class="rates-card-item">Наш авторский курс по трейдингу</li>
          </ul>
        </div>
        <div class="rates-card-lower">
          <div class="rates-card-div">
            <p class="rates-card-text">
              $585<span class="rates-card-percent">-35%</span>
            </p>
            <select class="rates-card-select" name="months">
              <option value="12">12 месяцев</option>
              <option value="6">6 месяцев</option>
              <option value="1">1 месяц</option>
            </select>
          </div>
          <a class="rates-card-btn" href="#about">
            Попробовать<span class="rates-card-span">5 дней бесплатно</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
