.about-section {
  background-color: var(--white);
  padding: 40px 0 133px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-title {
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;
}

.about-text {
  line-height: 1.25;
  color: #03071880;
}

.about-form-wrp {
  position: absolute;
  top: 296px;
  border-radius: 4px;
  background-color: var(--purple);
  padding: 16px;
}

.about-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-align: center;
  padding-bottom: 20px;
}

.about-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-input {
  background-color: #4a3bb3;
  border: none;
  outline: none;
  font-weight: 500;
  line-height: 1.43;
  font-size: 14px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--white);
  padding: 15px 17px;
  border-radius: 4px;
}

.about-input:placeholder-shown {
  color: #ffffff34;
}

.about-btn {
  border: 1px solid var(--turquoise);
  border-radius: 3px;
  padding: 16px 24px;
  box-shadow: 0 0 4px 0 var(--turquoise);
  background-color: var(--turquoise);
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--dark);
}

@media screen and (min-width: 1440px) {
  .about-section {
    padding: 96px 0 92px 0;
  }

  .about-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 237px;
  }

  .about-title {
    font-size: 44px;
    line-height: 1.27;
    padding-bottom: 40px;
  }

  .about-form-wrp {
    position: static;
    padding: 32px 64px 40px 64px;
    margin-top: 36px;
    margin-bottom: 4px;
  }

  .about-desc {
    font-size: 28px;
    line-height: 1.29;
    padding-bottom: 32px;
  }

  .about-form {
    width: 500px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    position: relative;
  }

  .about-input {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    padding: 20px 16px;
  }

  .about-btn {
    height: 52px;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 4px;
    font-weight: 500;
    transition: 200ms ease-in;
  }

  .about-btn:hover,
  .about-btn:focus {
    border: 1px solid var(--white);
    box-shadow: 0 0 4px 0 var(--white);
    background-color: var(--white);
  }
}
