:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  --purple: #6a54ff;
  --turquoise: #57e1ff;
  --white: #ffffff;
  --dark: #030718;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}
