@import url('./css/reset.css');
@import url('./css/base.css');
@import url('./css/container.css');

@import url('swiper/css/bundle');

@import url('./css/header.css');
@import url('./css/hero.css');
@import url('./css/numbers.css');
@import url('./css/deals.css');
@import url('./css/about.css');
@import url('./css/rates.css');
@import url('./css/faq.css');
@import url('./css/footer.css');
